{% extends "base.html" %}
{% block title %}HOME | Blog{% endblock %}
{% block css %}{{url_for("static", filename='css/home.css')}}{% endblock %}
{% block body %}
    

    <div class="container">
        <h1>Blog Posts</h1>
        <h3>Welcome, these are the latest Blog posts.</h3><br>

        {% if user %}
            <span class="h2">Hello, {{ user.fullname }}</span>
            <br>
            <button class="btn btn-primary" onclick="createPost()">Create Post</button>
            <form action="{{ url_for('create_post') }}" id="post" , method="post">

            </form>
        {% endif %}
        
        <div class="d-flex p-5 flex-wrap" id="posts">
        {% if posts %}
        {% for post in posts %}
            <div class="p-2 py-5 w-50">
                <h3>{{ post.post_heading }}</h3>
                <span class="lead">{{ post.post[0:200] }}...</span>
                <br>
                <br>
                <footer class="blockquote-footer">Written by <cite title="Source Title">{{ post.post_userfullname }}</cite></footer>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}{{url_for("static", filename='js/home.js')}}{% endblock %}
