{% extends "base.html" %}
{% block title %}HOME | Blog{% endblock %}
{% block body %}
    

    <div class="container">
        <h1>Blog Posts</h1>
        <h3>Welcome, these are the latest Blog posts.</h3><br>

        {% if signedIn == 'true' %}
            <span class="h2">Hello, {{ user.fullname }}</span>
            <button class="btn btn-primary" onclick="createPost()">Create Post</button>
            <form action="{{ url_for('create_post', username = user.username) }}" id="post" , method="post">

            </form>
        {% endif %}

        <!-- This thing is to be iterated -->
        <!-- Start -->
        <div class="d-flex justify-content-center p-5">
            <div class="p-2">
                <h3>heading of the blog</h3>
                <span class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil, ratione obcaecati quos perspiciatis libero.</span>
            </div>
            <div class="p-2">
                <h3>heading of the blog</h3>
                <span class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil, ratione obcaecati quos perspiciatis libero.</span>
            </div>
        </div>
        <!-- End -->
        
        {% if posts %}
        {% for post in posts %}
        <div class="d-flex justify-content-center p-5 w-50">
            <div class="p-2">
                <h3>{{ post.post_heading }}</h3>
                <span class="lead">{{ post.post }}</span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block js %}{{url_for("static", filename='js/home.js')}}{% endblock %}
